
plugins {
    id 'nf-amazon@2.3.0'
}

aws {
    accessKey = System.getenv('NF_AWS_ACCESS_KEY')
    secretKey = System.getenv('NF_AWS_SECRET_KEY')
    region    = 'eu-central-1'
    client {
        endpoint         = 'https://a3s.fi'
        s3PathStyleAccess = true
        signerVersion    = 'AWSS3V4SignerType'
        //connectionTimeout = 10000

        maxConnections        = 10
        connectionTimeout     = 300000   // 5 minutes
        socketTimeout         = 300000   // 5 minutes
        socketSendBufferSize  = 131072
        socketRecvBufferSize  = 131072
        maxErrorRetry         = 10
    }
    batch {
      maxParallelTransfers = 4
    }
}

nextflow.enable.strict = false 
cleanup                = true
report.overwrite       = true
timeline.overwrite     = true

workflow.onComplete = {
   workDir.resolve("stage-${workflow.sessionId}").deleteDir()
}

executor {
    name      = 'local'
    queueSize = 20   // max 20 processes at a time
}

process {

  errorStrategy = 'retry'
  maxRetries    =  5

  withName: FETCH_REFERENCE {
    cpus     = 1
  }
  withName: FETCH_SUBSETS {
    cpus     = 1
  }
  withName: COMBINE_GVCFS {
    cpus     = 6
    memory   = '11 GB'
  }
  withName: CALL_GVCFS {
    cpus     = 3
    memory   = '11 GB'
  }
  withName: COMBINE_CALL_GVCFS {
    cpus     = 2
    memory   = '4 GB'
  }
  withName: IMPORT_CALL_GVCFS {
    cpus     = 2
    memory   = '4 GB'
  }
  withName: MERGE_VCFS {
    cpus     = 1
  }
  withName: PUBLISH_VCF {
    cpus     = 1
  }
} 
